<p>Greetings, <%= @user.first_name %> <%= @user.last_name %>!</p>
<p>We have received your application, and your account status is currently PENDING. Kindly wait for an email confirming the approval of your account.</p>
<p>- Stock Harbor Team</p>