@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');
body {
  background-color: #090d16;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
 
}

.menu-items {
  display: flex;
  flex-direction: column;
  gap: 10px; 
  color: #82929f; 
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
}

.sidebar {
  height: 100%;
  width: 280px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #343a40;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  
}

.sidebar p:hover {
  background-color: #222428;
}


/* Graph */

.content {
  position: absolute;
  top: 0;
  left: 260px;
  right: 0;
  bottom: 0;
  padding: 20px;
  overflow-y: auto;
}

.graph-container {
  width: 100%;
  height: calc(50vh - 40px); 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0 10px 0 10px;
  justify-content: center;
  align-items: center;
}

.bottom-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  
}

.total-value, .buying-power {
  flex: 1; 
  color: #fff;
}

.today {
  flex: 2;
  color: #21ce99 
}

.bottom-info p {
  margin: 5px;
  font-size: 30px;
}

