body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0d1320;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
  }

  #video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
  }

  /* Login */

  .login-card  {
    background-color: #0d1320;
    padding: 20px;
    border-radius: 10px;

  }

  .register-card {
    background-color: #0d1320;
    border-radius: 10px;
  }

  
