body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0d1320;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
  }

  .notification-container {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%; 
    padding: 10px;
    border-radius: 5px;
    z-index: 1000; 
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
  }


  .notice {
    color: green;
    background-color: rgba(255, 255, 255, 0.788); 
  }
  .alert {
    color: red;
    background-color: rgba(255, 255, 255, 0.788); 
  }
  .error-container {
    width: 50%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.788);
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
  }
  .error-container li{
    list-style: none;
  }

  #video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
  }

  /* Login */

  .login-card  {
    background-color: #0d1320;
    padding: 20px;
    border-radius: 10px;

  }

  .register-card {
    background-color: #0d1320;
    border-radius: 10px;
    color: white;
  }
  
/* TEMP DESIGN 
  .notice {
    color: green;
    background-color: rgba(255, 255, 255, 0.788);
    text-align: center;
  }
  .alert {
    color:  red;
    background-color: rgba(255, 255, 255, 0.788);
    text-align: center;
  } */
