@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');

:root {
  --black: #090d16;
  --dark-grey: #222428;
  --light-grey: #82929f;
  --green: #21ce99;
  --orange: #fc4d2d;
  --hover-bg-color: #0d1320;
}

/* Dashboard Styling */
.trader-dashboard {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #82929f;
  border: 1px solid #ccc;
  border-radius: 8px;
}

h1 {
  color: #333;
}

.pending-status {
  background-color: #ffd700;
  padding: 10px;
  border: 1px solid #e0b800;
  border-radius: 5px;
  margin-top: 20px;
}

.active-status {
  background-color: #90ee90;
  padding: 10px;
  border: 1px solid #5cb85c;
  border-radius: 5px;
  margin-top: 20px;
}

.sign-out-link {
  color: red;
  text-decoration: none;
  font-weight: bold;
  margin-top: 20px;
  display: block;
}

/* Main Content Styling */
.traders-wrapper {
  position: absolute;
  top: 0;
  left: 260px;
  right: 0;
  bottom: 0;
  padding: 20px;
  overflow-y: auto;
}

.traders-content {
  width: 100%;
  height: calc(50vh - 40px);
  padding: 0 20px 0 50px;
  justify-content: center;
  align-items: center;
}

/* Stock Section */

.stock-container {
 width: 600px;
 height: 500px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f8f9fa;
  text-align: center;
}

.stock-container form {
  margin-bottom: 20px;
}

/* Section Styling */
.account-summary,
.add-money-form,
.open-positions,
.market-news,
.trade-history {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f8f9fa;
}

.summary-item {
  margin-bottom: 10px;
}

.add-money-form {
  max-width: 400px;
  margin-top: 20px;
}

.add-money-form p {
  font-size: 25px;
  font-weight: 400;
}

.add-money-form h2 {
  font-size: 40px;
  font-weight: 400;
}


/* TEMP DESIGN FOR TOP UP (para lang kita ko yung info - jeiniel) */
.top_up_form {
  display: flex;
  flex-direction: column;
  color: white;
  
}

.topup-button{
  font-size: 17px;
  font-weight: normal;
  padding: 5px;
  width: 100%;
}

.top_up_form h1{
  color: white;
}


.transactions_page {
  display: flex;
  flex-direction: column;
  color: white;
}

/* Menu Divider */

.menu-divider {
  border-top: 1px solid #ccc;
  margin: 8px 0;
}
