<div class='transactions_page'>
  <h1>This is the transactions page!</h1>
  <%= link_to "Back to dashboard", trader_dashboard_index_path %>
  <%= link_to "Portfolio", trader_portfolios_index_path %>

  <div>
    <h2>Trader's Transaction History</h2>
    <table>
      <thead>
        <tr>
          <th>Transaction ID</th>
          <th>Transaction Type</th>
          <th>Stock (symbol)</th>
          <th>Quantity</th>
          <th>Price during Transaction</th>
          <th>Total Price</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% @transactions.each do |transaction| %>
          <%= render(partial: 'transaction', locals: { transaction: transaction }) %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
