
<div class='transactions_page'>
  <h1 class="transactions_page">Trader's Transaction History</h1>
  <div class= "transactions-link-container">
  <%= link_to "Back to Dashboard", trader_dashboard_index_path, class: 'btn btn-primary transactions-link' %> ||
  <%= link_to "Go To Portfolio", trader_portfolios_index_path, class: 'btn btn-primary transactions-link' %>
  
  </div>
  <div class="trans-table-container">
    <table>
   
      <thead class="trans-th">
        <tr class="trans-tr">
      
          <th>Transaction ID</th>
          <th>Transaction Type</th>
          <th>Stock (symbol)</th>
          <th>Quantity</th>
          <th>Price during Transaction</th>
          <th>Total Price</th>
          <th>Date</th>
        </tr>
      </thead>
      
      <tbody>
      
        <% @transactions.reverse.each do |transaction| %>
          <%= render(partial: 'transaction', locals: { transaction: transaction }) %>
        <% end %>
      </tbody>
    </table>
    
  </div>
  
</div>

</div>

