

<div class = 'transactions-new'>

    <h1><%= @transaction.transaction_type == 'buy' ? 'Buy' : 'Sell' %> stock</h1>
    <%= link_to "Back to dashboard", trader_dashboard_index_path, class: 'transactions-link' %>

    <div class='transaction-form-wrapper' >
        <%= render "form", method: :post, url: new_trader_transaction_path %>
    </div>

   
</div>